@font-face {
    font-family: 'netflix font';
    src: url("Netflix font.woff2") format("woff2");
}
@font-face {
    font-family: 'NetflixRg';
    src: url("NetflixRg.woff2") format("woff2");
}
@font-face {
    font-family: 'NetflixTh';
    src: url("NetflixTh.woff2") format("woff2");
}
@font-face {
    font-family: 'NetflixMd';
    src: url("NetflixMd.woff2") format("woff2");
}
@font-face {
    font-family: 'NetflixLt';
    src: url("NetflixLt.woff2") format("woff2");
}
body{
    padding:0;
    margin:0;
    background:black;
}
.options{
    display:flex;
    gap:10%;
    margin-right: 5%;
}

.body{
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,.5) 60%,rgba(0,0,0,.8) 100%), url('netflix background.jpg');
    border-bottom: 8px solid #212121;
    padding-bottom: 18vh;
    background-size: cover;

}
.navbar{
    display:flex;
    margin-bottom:17vh;

}
.logo{
    flex-basis:80%;
    margin-top:-20px;
    margin-left: 36px;
}
.language{
    flex-basis:10%;
    color: white;
}
.signIn{
    flex-basis:10%;

}
.btn{
    background-color:#e50914;
    padding:10px 25px;
    border:none;
    margin-top:30px;
    color:white;
    font-size:15px;
    border-radius:3px;
    cursor:pointer;

}
.text1{
    margin-top:15vh;
    text-align: center;
}
.l1 {
    margin: 0 auto;
    text-align: center;
    font-family: "NetflixMd";
    line-height:55px;
    color: white;
    letter-spacing:0;
    font-size: 50px;
    font-weight: 500;
}

.l2{
    margin: 16px auto;
    text-align: center;
    font-family: "NetflixRg";
    color: white;
    font-size: 26px;
    font-weight: 400;
}

.l3{
    margin: 28px auto 20px auto;

    text-align: center;
    font-family: "NetflixLt";
    color: white;
    font-size:19.2px;
}

.cred{
    margin-top:2.5vh;
    text-align: center;
    position:relative;
    display:flex;
    justify-content: center;
}
label{
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    left: 27.5%;
    font-size: 16px;
    color: rgb(166, 166, 166);
    pointer-events: none;
    transition: 0.2s ease;
    font-family: "poppins";

}

.textfield{
    width: 440px;
    height:58px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(220,220,220);
    border-radius: 3px;
    color: rgb(0, 0, 0);
    outline: 0!important;
    border-bottom: 3px solid transparent;
    background-color:rgb(250,250,250);
    font-family: "poppins";


}

input:valid {
    border-bottom: 3px solid orange;
}
input:valid + label {
    transform: translateY(-31px);
    font-size: 14px;

}

/*.hr1{*/
/*    width:100%;*/
/*    height: 8px;*/
/*    background-color: #464646;*/
/*    border: none;*/

/*}*/

.gs{
    background-color:#e50914;
    padding:10px 17px;
    border:none;
    /*font-family:poppins;*/
    color:white;
    font-size:23px;
    border-radius:3px;
    height:65px;
    width:220px;
    margin-left: 0;
    margin-bottom: 2.6vh;
    cursor:pointer;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 10vh 16vh 24vh 16vh;
    border-bottom: 8px solid #212121;
}

.text{
    flex-basis:60%;
    font-family: NetflixRg;
    font-size: 26px;
    margin-top: 8vh;
    color:white;

}
.text1{
    flex-basis:50%;
    font-family: NetflixRg;
    font-size: 26px;
    margin-top: 8vh;
    padding-right: 5vh;
    color:white;

}
hea{
    font-family: NetflixMd;
    font-size: 50px;
    color:white;
    margin-bottom: 20px;
    display: block;

}
.pic{
    flex-basis:40%;
    margin-top: -7vh;
    position: relative;

}
.pic1{
    flex-basis:50%;
    margin-top: -7vh;
    position: relative;

}
.frame{
    position: absolute;
    z-index:2;
}
.vid{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 82%;
    z-index: 1;
}

.row1{
    display: flex;
    justify-content: space-between;
    padding: 10vh 16vh 17vh 12vh;
    border-bottom: 8px solid #212121;
    gap:10vh;

}
.inner{
    display:flex;
    position:absolute;
    z-index: 2;
    background-color:black;
    border-radius:.75em;
    border: 2px solid #212121;
    top:77%;
    left:19.5%;
    padding: .5em .75em;
    gap:20px;
}

.vid1{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 70%;
    z-index: 1;
}

h1{
    margin: 7vh auto 5vh auto;
    color:white;
    text-align:center;
    font-family: NetflixMd;
    font-size:50px;
}
.language{
    margin-top:30px;
    font-family:poppins;

}
.box{
    border-radius:2px;
    border: 1px solid white;
    width:95px;
    padding-left: 7px;
    padding-right: 7px;
}
.lang{
    color:white;
    font-size:16px;
    background: transparent;
    border-radius:1px;
    border: none;
    height:36px;
    width: 60px;
    -webkit-appearance: listbox;
    cursor: pointer;
    padding-left:5px;
}
option{
    padding:5px 7px;
}

i.fas{
    color:white;
    font-size: 15px;
}

.faq{

    display: flex;
    flex-direction:column;
    justify-content:center;
    gap: 1.5vh;

}
.box-out{
    margin: 0 auto;
    color:white;
    width:60%;
    border-radius:2px;
    background-color: #212121;
    font-family: NetflixRg;
    font-size:25px;
    cursor: pointer;
}
.box-in{
    text-align: left;
    padding: .8em 2.2em .8em 1.2em;
    position: relative;
}
.bttn{
    position:absolute;
    left: 92%;
    top: 27.5%;
    width:30px;
}

.ready{
    margin-top:8vh;
    padding-bottom:6vh;
    border-bottom: 8px solid #212121;
    color:white;
    font-size:20px;
    font-family: NetflixLt;
    text-align: center;
}

footer{
    padding-top: 10vh;
    padding-left: 18%;
    padding-right: 18%;
}
.contact{
    font-family: NetflixTh;
    color:grey;
    padding-bottom: 25px;
}
.grid-container{
    display: grid;
    row-gap:20px;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 2vh;
}
.grid-item{
    font-family: NetflixTh;
    color:grey;
    font-size: 13px;

}

.grid-item:hover{
    text-decoration:underline;
    cursor:pointer;
}
.click{
text-decoration:none;
    color:grey;
}
@media screen and (min-width: 756px ) and (max-width:1400px){

}
@media screen and (max-width:755px ){

}
@media screen and (max-width:480px ){

}
